



$color-dark: #272727;
$color-white: #fff;
$color-grey: #C2C2C2;
$color-camel: #EFC58B;



$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
