



$color-dark: #272727;
$color-white: #fff;
$color-grey: #C2C2C2;
$color-grey-2: #EDEDED;
$color-grey-3: #757575;
$color-camel: #EFC58B;
$color-desert: #E2B67A;



$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
